/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

/* Set minimum height for pages */
[data-role="page"] {
  height: 100%;
}

[data-role="main"]{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100vh;
	position: relative;
	padding-left: 50px;
	font-family: 'Montserrat', sans-serif;
}

[data-role="main"] .main_content {
    padding-top: 50px;
	align-items: left;
	text-align: left;
	font-size: 60px;
}


/* Reset padding and margin for content */
[data-role="content"] {
	padding: 0;
	margin: 0;
}

/* Header and Footer styles */
[data-role="header"], 
[data-role="footer"] {
	background-color: #91A8D0; /* Serenity Blue */
	color: #fff;
	text-align: center;
	padding: 10px;
}

[data-role="nav-bar"]  {
	background-color: #91A8D0; /* Serenity Blue */
	display: flex;
	align-items: center;
	justify-content: flex; 
}


[data-role="nav-bar"] img {
	margin-right: 100px;

}

/* Nav bar / Listview  */
[data-role="listview"] {
	text-decoration: none;
	list-style-type: none;
	text-align: center; /* Center the list items */
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

/* Nav bar / List item */
[data-role="listview"] li {
	text-decoration: none;
	display: inline-block;
	margin-right: 10px; /* Adjust the spacing between menu items */
}


[data-role="listview"] a {
	padding-right: 80px;
	padding-left: 80px;
	color: #333;
	text-align: center;
	text-decoration: none;
	transition: 0.1s;
}

[data-role="listview"] a:hover {
	color: #F0D1C9; 
}

/* Button styles */
[data-role="button"] {
  background-color: #795C34; 
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

[data-role="button"]:hover {
  background-color: #d1bb92; 
}

#home,
#overview,
#aboutUs,
#services,
#contact{
  background-color: #F0D1C9;
}

/* Add media queries for responsive design */
@media screen and (max-width: 600px) {
  [data-role="main"] {
    padding-left: 20px;
  }

  [data-role="nav-bar"] img {
    margin-right: 20px;
  }

  [data-role="listview"] a {
    padding-right: 20px;
    padding-left: 20px;
  }
}
